[Unit]
Description=Bind mount /data/docker onto /var/lib/docker
Before=docker.service
ConditionPathIsMountPoint=/data

[Mount]
What=/data/docker
Where=/var/lib/docker
Options=bind

[Install]
WantedBy=docker.service
